<h1>Nouvelle Rdvmail</h1>
<p>Nom : {{ rdvmail.nom}}</p>
<p>Telephone : {{ rdvmail.telephone|raw }}</p>
<p>Email : {{ rdvmail.email }}</p>
<p>Category : {{ rdvmail.category|raw }}</p>
<p>Description : {{ rdvmail.description|raw}}</p>