{% extends 'base.html.twig' %}

{% block title %}Demande index{% endblock %}

{% block body %}
    <h1>Demande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Iddemande</th>
                <th>Nomprenom</th>
                <th>Contact</th>
                <th>Datedebut</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.iddemande }}</td>
                <td>{{ demande.nomprenom }}</td>
                <td>{{ demande.contact }}</td>
                <td>{{ demande.datedebut }}</td>
                <td>{{ demande.image }}</td>
                <td>
                    <a href="{{ path('demande_show', {'iddemande': demande.iddemande}) }}">show</a>
                    <a href="{{ path('demande_edit', {'iddemande': demande.iddemande}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('demande_new') }}">Create new</a>
{% endblock %}
