<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    {% block title %}
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{asset('frontoffice/img/fav.png')}}" />
        <!-- Author Meta -->
        <meta name="author" content="colorlib" />
        <!-- Meta Description -->
        <meta name="description" content="" />
        <!-- Meta Keyword -->
        <meta name="keywords" content="" />
        <!-- meta character set -->
        <meta charset="UTF-8" />
        <!-- Site Title -->
        <title>Learn4u-home</title>

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />
        <!--
            CSS
            =============================================
          -->
        <link rel="stylesheet" href="{{ asset('frontoffice/css/linearicons.css') }}" />
        <link rel="stylesheet" href="{{ asset('frontoffice/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('frontoffice/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('frontoffice/css/magnific-popup.css') }}" />
        <link rel="stylesheet" href="{{ asset('frontoffice/css/owl.carousel.css') }}" />
        <link rel="stylesheet" href="{{ asset('frontoffice/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ asset('frontoffice/css/hexagons.min.css') }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
        <link rel="stylesheet" href="{{ asset('frontoffice/css/main.css') }}" />
    {% endblock %}
</head>
{% block body %}
    <body>
    <!-- ================ Start Header Area ================= -->
    {% block header %}
        <header class="default-header">
            <nav class="navbar navbar-expand-lg  navbar-light">
                <div class="container">
                    <a class="navbar-brand">
                        <img src="{{ asset('frontoffice/img/logo.png') }}" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="lnr lnr-menu"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li><a>Home</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                    Learning Services
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item">Courses</a>
                                    <a class="dropdown-item">Formations</a>
                                </div>
                            </li>
                            {# TO DO events index !!!!!!!!!!! #}
                            <!-- Dropdown -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                    Events
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item">Events Calendar</a>
                                    <a class="dropdown-item">Events Resevations</a>
                                </div>
                            <li><a>Rate Us</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                    Reclamation
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item">Reclamé</a>
                                    <a class="dropdown-item">Afficher les Reclamations</a>
                                </div>
                            </li>
                            <li>
                                <button class="search">
                                    <span class="lnr lnr-magnifier" id="search"></span>
                                </button>
                            </li>
                            {% if app.user %}
                                <li><a>Sign out</a></li>
                            {% else %}
                                <li><a>Sign in</a></li>
                            {% endif %}
                            <li><a>Administration</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
            <div class="search-input" id="search-input-box">
                <div class="container">
                    <form class="d-flex justify-content-between">
                        <input type="text" class="form-control" id="search-input" placeholder="Search Here" />
                        <button type="submit" class="btn"></button>
                        <span class="lnr lnr-cross" id="close-search" title="Close Search"></span>
                    </form>
                </div>
            </div>
        </header>
    {% endblock %}
    <!-- ================ End Header Area ================= -->
    {% block content %}{% endblock %}
    <!-- ================ start banner Area ================= -->
    {% block home %}
        <section class="home-banner-area">
            <div class="container">
                <div class="row justify-content-center fullscreen align-items-center">
                    <div class="col-lg-5 col-md-8 home-banner-left">
                        {% block home1 %}
                            {% block textbanner %}
                                <h1 class="text-white">
                                    Take the first step <br />
                                    to learn with us
                                </h1>
                                <p class="mx-auto text-white  mt-20 mb-40">
                                    In the history of modern astronomy, there is probably no one
                                    greater leap forward than the building and launch of the space
                                    telescope known as the Hubble.
                                </p>
                            {% endblock %}
                        {% endblock %}
                    </div>
                    <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
                        <img class="img-fluid" src="{{ asset('frontoffice/img/header-img.png') }}" alt="" />
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block all %}
        <!-- ================ End banner Area ================= -->

        <!-- ================ Start Feature Area ================= -->
        {% block feature %}
            <section class="feature-area">
                <div class="container-fluid">
                    <div class="feature-inner row">
                        <div class="col-lg-2 col-md-6">
                            <div class="feature-item d-flex">
                                <i class="ti-book"></i>
                                <div class="ml-20">
                                    <h4>New Classes</h4>
                                    <p>
                                        In the history of modern astronomy, there is probably no one greater leap forward.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="feature-item d-flex">
                                <i class="ti-cup"></i>
                                <div class="ml-20">
                                    <h4>Top Courses</h4>
                                    <p>
                                        In the history of modern astronomy, there is probably no one greater leap forward.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="feature-item d-flex border-right-0">
                                <i class="ti-desktop"></i>
                                <div class="ml-20">
                                    <h4>Full E-Books</h4>
                                    <p>
                                        In the history of modern astronomy, there is probably no one greater leap forward.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        <!-- ================ End Feature Area ================= -->

        <!-- ================ Start Popular Course Area ================= -->
        {% block popularcourses %}
            <section class="popular-course-area section-gap">
                <div class="container-fluid">
                    <div class="row justify-content-center section-title">
                        <div class="col-lg-12">
                            <h2>
                                Popular Courses <br />
                                Available Right Now
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="owl-carousel popuar-course-carusel">
                        <div class="single-popular-course">
                            <div class="thumb">
                                <img class="f-img img-fluid mx-auto" src="{{ asset('frontoffice/img/popular-course/p1.jpg') }}" alt="" />
                            </div>
                            <div class="details">
                                <div class="d-flex justify-content-between mb-20">
                                    <p class="name">programming language</p>
                                    <p class="value">$150</p>
                                </div>
                                <a href="#">
                                    <h4>Learn Angular JS Course for Legendary Persons</h4>
                                </a>
                                <div class="bottom d-flex mt-15">
                                    <ul class="list">
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                    </ul>
                                    <p class="ml-20">25 Reviews</p>
                                </div>
                            </div>
                        </div>

                        <div class="single-popular-course">
                            <div class="thumb">
                                <img class="f-img img-fluid mx-auto" src="{{ asset('frontoffice/img/popular-course/p2.jpg') }}" alt="" />
                            </div>
                            <div class="details">
                                <div class="d-flex justify-content-between mb-20">
                                    <p class="name">programming language</p>
                                    <p class="value">$150</p>
                                </div>
                                <a href="#">
                                    <h4>Learn Angular JS Course for Legendary Persons</h4>
                                </a>
                                <div class="bottom d-flex mt-15">
                                    <ul class="list">
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                    </ul>
                                    <p class="ml-20">25 Reviews</p>
                                </div>
                            </div>
                        </div>

                        <div class="single-popular-course">
                            <div class="thumb">
                                <img class="f-img img-fluid mx-auto" src="{{ asset('frontoffice/img/popular-course/p3.jpg') }}" alt="" />
                            </div>
                            <div class="details">
                                <div class="d-flex justify-content-between mb-20">
                                    <p class="name">programming language</p>
                                    <p class="value">$150</p>
                                </div>
                                <a href="#">
                                    <h4>Learn Angular JS Course for Legendary Persons</h4>
                                </a>
                                <div class="bottom d-flex mt-15">
                                    <ul class="list">
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                    </ul>
                                    <p class="ml-20">25 Reviews</p>
                                </div>
                            </div>
                        </div>

                        <div class="single-popular-course">
                            <div class="thumb">
                                <img class="f-img img-fluid mx-auto" src="{{ asset('frontoffice/img/popular-course/p4.jpg') }}" alt="" />
                            </div>
                            <div class="details">
                                <div class="d-flex justify-content-between mb-20">
                                    <p class="name">programming language</p>
                                    <p class="value">$150</p>
                                </div>
                                <a href="#">
                                    <h4>Learn Angular JS Course for Legendary Persons</h4>
                                </a>
                                <div class="bottom d-flex mt-15">
                                    <ul class="list">
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                    </ul>
                                    <p class="ml-20">25 Reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        <!-- ================ End Popular Course Area ================= -->

        <!-- ================ Start Video Area ================= -->
        {% block video %}
            <section class="video-area section-gap-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="section-title text-white">
                                <h2 class="text-white">
                                    Watch Our Trainers <br>
                                    in Live Action
                                </h2>
                                <p>
                                    In the history of modern astronomy, there is probably no one greater leap forward than the building and
                                    launch of the space telescope known as the Hubble.
                                </p>
                            </div>
                        </div>
                        <div class="offset-lg-1 col-md-6 video-left">
                            <div class="owl-carousel video-carousel">
                                <div class="single-video">
                                    <div class="video-part">
                                        <img class="img-fluid" src="{{ asset('frontoffice/img/video-img.jpg') }}" alt="">
                                        <div class="overlay"></div>
                                        <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=VufDd-QL1c0">
                                            <img class="play-icon" src="{{ asset('frontoffice/img/play-btn.png') }}" alt="">
                                        </a>
                                    </div>
                                    <h4 class="text-white mb-20 mt-30">Learn Angular js Course for Legendary Persons</h4>
                                    <p class="text-white mb-20">
                                        In the history of modern astronomy, there is probably no one greater leap forward than the building and
                                        launch of the space telescope known as the Hubble.
                                    </p>
                                </div>

                                <div class="single-video">
                                    <div class="video-part">
                                        <img class="img-fluid" src="{{ asset('frontoffice/img/video-img.jpg') }}" alt="">
                                        <div class="overlay"></div>
                                        <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=VufDd-QL1c0">
                                            <img class="play-icon" src="{{ asset('frontoffice/img/play-btn.png') }}" alt="">
                                        </a>
                                    </div>
                                    <h4 class="text-white mb-20 mt-30">Learn Angular js Course for Legendary Persons</h4>
                                    <p class="text-white mb-20">
                                        In the history of modern astronomy, there is probably no one greater leap forward than the building and
                                        launch of the space telescope known as the Hubble.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        <!-- ================ End Video Area ================= -->

        <!-- ================ Start Feature Area ================= -->
        {% block categories %}
            <section class="other-feature-area">
                <div class="container">
                    <div class="feature-inner row">
                        <div class="col-lg-12">
                            <div class="section-title text-left">
                                <h2>
                                    Features That <br />
                                    Can Avail By Everyone
                                </h2>
                                <p>
                                    If you are looking at blank cassettes on the web, you may be
                                    very confused at the difference in price. You may see some for
                                    as low as $.17 each.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="other-feature-item">
                                <i class="ti-key"></i>
                                <h4>Lifetime Access</h4>
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed
                                        do eiusmod tempor incididunt labore. Lorem ipsum dolor sit
                                        amet consec tetur adipisicing elit, sed do eiusmod tempor
                                        incididunt labore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt--160">
                            <div class="other-feature-item">
                                <i class="ti-files"></i>
                                <h4>Source File Included</h4>
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed
                                        do eiusmod tempor incididunt labore. Lorem ipsum dolor sit
                                        amet consec tetur adipisicing elit, sed do eiusmod tempor
                                        incididunt labore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt--260">
                            <div class="other-feature-item">
                                <i class="ti-medall-alt"></i>
                                <h4>Student Membership</h4>
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed
                                        do eiusmod tempor incididunt labore. Lorem ipsum dolor sit
                                        amet consec tetur adipisicing elit, sed do eiusmod tempor
                                        incididunt labore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="other-feature-item">
                                <i class="ti-briefcase"></i>
                                <h4>35000+ Courses</h4>
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed
                                        do eiusmod tempor incididunt labore. Lorem ipsum dolor sit
                                        amet consec tetur adipisicing elit, sed do eiusmod tempor
                                        incididunt labore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt--160">
                            <div class="other-feature-item">
                                <i class="ti-crown"></i>
                                <h4>Expert Mentors</h4>
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed
                                        do eiusmod tempor incididunt labore. Lorem ipsum dolor sit
                                        amet consec tetur adipisicing elit, sed do eiusmod tempor
                                        incididunt labore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt--260">
                            <div class="other-feature-item">
                                <i class="ti-headphone-alt"></i>
                                <h4>Live Supports</h4>
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed
                                        do eiusmod tempor incididunt labore. Lorem ipsum dolor sit
                                        amet consec tetur adipisicing elit, sed do eiusmod tempor
                                        incididunt labore.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        <!-- ================ End Feature Area ================= -->

        <!-- ================ Start Testimonials Area ================= -->
        {% block testimonials %}
            <section class="testimonials-area section-gap">
                <div class="container">
                    <div class="testi-slider owl-carousel" data-slider-id="1">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="item">
                                    <div class="testi-item">
                                        <img src="{{ asset('frontoffice/img/quote.png') }}" alt="" />
                                        <div class="mt-40 text">
                                            <p>
                                                As conscious traveling Paup ers we must always be oncerned
                                                about our dear Mother Earth. If you think about it, you
                                                travel across her face and She is the host to your
                                                journey.
                                            </p>
                                        </div>
                                        <h4>Fanny Spencer</h4>
                                        <p>Chief Executive, Amazon</p>
                                    </div>
                                </div>
                            </div>

                            <div class="offset-lg-1 col-lg-6">
                                <img src="{{ asset('frontoffice/img/testimonial/t1.jpg') }}" alt="" />
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="item">
                                    <div class="testi-item">
                                        <img src="{{ asset('frontoffice/img/quote.png') }}" alt="" />
                                        <div class="mt-40 text">
                                            <p>
                                                As conscious traveling Paup ers we must always be oncerned
                                                about our dear Mother Earth. If you think about it, you
                                                travel across her face and She is the host to your
                                                journey.
                                            </p>
                                        </div>
                                        <h4>Fanny Spencer</h4>
                                        <p>Chief Executive, Amazon</p>
                                    </div>
                                </div>
                            </div>

                            <div class="offset-lg-1 col-lg-6">
                                <img src="{{ asset('frontoffice/img/testimonial/t1.jpg') }}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        <!-- ================ End Testimonials Area ================= -->

        <!-- ================ Start Registration Area ================= -->
        {% block register %}
            <section class="registration-area">
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col-lg-5">
                            <div class="section-title text-left text-white">
                                <h2 class="text-white">
                                    Watch Our Trainers <br>
                                    in Live Action
                                </h2>
                                <p>
                                    If you are looking at blank cassettes on the web, you may be
                                    very confused at the difference in price. You may see some for
                                    as low as $.17 each.
                                </p>
                            </div>
                        </div>
                        <div class="offset-lg-3 col-lg-4 col-md-6">
                            <div class="course-form-section">
                                <h3 class="text-white">Courses for Free</h3>
                                <p class="text-white">It is high time for learning</p>
                                <form class="course-form-area contact-page-form course-form text-right" id="myForm" action="mail.html" method="post">
                                    <div class="form-group col-md-12">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Name'">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Phone Number" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Phone Number'">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Email Address'">
                                    </div>
                                    <div class="col-lg-12 text-center">
                                        <button class="btn text-uppercase">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        <!-- ================ End Registration Area ================= -->

        <!-- ================ Start Blog Post Area ================= -->
        {% block ads %}
            <section class="blog-post-area section-gap">
                <div class="container-fluid">
                    <div class="feature-inner row">
                        <div class="col-lg-12">
                            <div class="section-title text-left">
                                <h2>
                                    Features That <br />
                                    Can Avail By Everyone
                                </h2>
                                <p>
                                    There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope.
                                    It’s exciting to think about setting up your own viewing station.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-blog-post">
                                <img src="{{ asset('frontoffice/img/blog-post/b1.jpg') }}" class="img-fluid" alt="" />
                                <div class="overlay"></div>
                                <div class="top-text">
                                    <p>29th, oct, 2018</p>
                                    <p>121 likes</p>
                                    <p>05 comments</p>
                                </div>
                                <div class="text">
                                    <h4 class="text-white">Smart Kitchen Setup</h4>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor sit amet consec tetur adipisicing elit,
                                            sed do.
                                        </p>
                                    </div>
                                    <a href="#" class="primary-btn">
                                        View Details
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt--160">
                            <div class="single-blog-post">
                                <img src="{{ asset('frontoffice/img/blog-post/b2.jpg') }}" class="img-fluid" alt="" />
                                <div class="overlay"></div>
                                <div class="top-text">
                                    <p>29th, oct, 2018</p>
                                    <p>121 likes</p>
                                    <p>05 comments</p>
                                </div>
                                <div class="text">
                                    <h4 class="text-white">Smart Kitchen Setup</h4>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor sit amet consec tetur adipisicing elit,
                                            sed do.
                                        </p>
                                    </div>
                                    <a href="#" class="primary-btn">
                                        View Details
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt--260">
                            <div class="single-blog-post">
                                <img src="{{ asset('frontoffice/img/blog-post/b3.jpg') }}" class="img-fluid" alt="" />
                                <div class="overlay"></div>
                                <div class="top-text">
                                    <p>29th, oct, 2018</p>
                                    <p>121 likes</p>
                                    <p>05 comments</p>
                                </div>
                                <div class="text">
                                    <h4 class="text-white">Smart Kitchen Setup</h4>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor sit amet consec tetur adipisicing elit,
                                            sed do.
                                        </p>
                                    </div>
                                    <a href="#" class="primary-btn">
                                        View Details
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
    {% endblock %}
    <!-- ================ End Blog Post Area ================= -->

    <!-- ================ start footer Area ================= -->
    {% block footer %}
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-6 single-footer-widget">
                        <h4>Top Products</h4>
                        <ul>
                            <li><a href="#">Managed Website</a></li>
                            <li><a href="#">Manage Reputation</a></li>
                            <li><a href="#">Power Tools</a></li>
                            <li><a href="#">Marketing Service</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 single-footer-widget">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Brand Assets</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 single-footer-widget">
                        <h4>Features</h4>
                        <ul>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Brand Assets</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 single-footer-widget">
                        <h4>Resources</h4>
                        <ul>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Experts</a></li>
                            <li><a href="#">Agencies</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 single-footer-widget">
                        <h4>Newsletter</h4>
                        <p>You can trust us. we only send promo offers,</p>
                        <div class="form-wrap" id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                  method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                       required="" type="email">
                                <button class="click-btn btn btn-default text-uppercase">subscribe</button><br><br><br><br><br>
                                <div class="click-btn btn btn-default text-uppercase" > <a href="{{ path("contact") }}"  class="about-btn" align="centre">SendMail!</a> </div>

                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>

                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom row align-items-center">
                    <p class="footer-text m-0 col-lg-8 col-md-12">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-md-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>

    {% endblock %}
    <!-- ================ End footer Area ================= -->
    {% block js %}
        <script src="{{ asset('frontoffice/js/vendor/jquery-2.2.4.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
                crossorigin="anonymous"></script>
        <script src="{{ asset('frontoffice/js/vendor/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="{{ asset('frontoffice/js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ asset('frontoffice/js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('frontoffice/js/parallax.min.js') }}"></script>
        <script src="{{ asset('frontoffice/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('frontoffice/js/jquery.sticky.js') }}"></script>
        <script src="{{ asset('frontoffice/js/hexagons.min.js') }}"></script>
        <script src="{{ asset('frontoffice/js/jquery.counterup.min.js') }}"></script>
        <script src="{{ asset('frontoffice/js/waypoints.min.js') }}"></script>
        <script src="{{ asset('frontoffice/js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ asset('frontoffice/js/main.js') }}"></script>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/6228eb1f1ffac05b1d7dcb90/1ftntcsps';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->

    {% endblock %}
    </body>
{% endblock %}
</html>

<div id="div_chart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    {{ gc_draw(piechart, 'div_chart') }}
</script>


{% for product in products %}
    <div class="col-4 mt-4">
        <div class="border border-dark rounded p-2 clearfix" style="background-color: #0c223a">
            <h2 style="color:#d946ef ">{{ product.title }}</h2>
            <p style="color: #fff1f2">{{ product.price }} €</p>
            <img class="w-100" src="{{ asset('img/') ~ product.image }}" alt="Image de {{ product.title }}">
            <hr>
            <a href="{{path("cart_add", {id: product.id})}}" class="btn btn-success">
                <i class="bi bi-cart-plus"></i> Ajouter
            </a>
        </div>
    </div>
{% endfor %}


<div class="navigation" style="margin:30px" aria-label="Page navigation example" >
{{ knp_pagination_render(products) }}