{% extends 'basepanel.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>Products</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/brochures/' ~ product.image ) }}" alt="img" class="image" style="max-height: 100px; width: 100px;" ></td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prod_index') }}">back to list</a>

    <a href="{{ path('prod_edit', {'id': product.id}) }}">edit</a>

    {{ include('prod/_delete_form.html.twig') }}
{% endblock %}
